= simple_form_for @question, html: {class: 'pure-form pure-form-aligned' } do |f|
  %fieldset
    .pure-control-group
      = f.label :title
      = f.text_field :title
    .pure-controls
      = f.submit 'Save', class: 'pure-button pure-button-primary'
