%div.twelve.columns

  %div.row

    %div.twelve.columns

      %div

        %h3 新しい質問

        %table
          %thead
            %tr
              %th ページ
              %th 質問内容
          %tbody
          - @questions.each do |question|
            %tr
              %td
                = link_to page_path question.questionable.id do
                  = question.questionable.title
              %td
                = question.title
