%h1 Listing scenarios

= link_to 'New Scenario', new_scenario_path

%table#scenarios_list.pure-table.pure-table-bordered
  %thead
    %tr
      %th title
      %th

  %tbody
  - @scenarios.each do |scenario|
    %tr
      %td= link_to scenario.title, scenario
      %td= link_to 'Edit', edit_scenario_path(scenario)



<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
= javascript_include_tag "scenario/index"
