%h2.twelve.columns
  %div.warning.xlarge.btn
    = link_to 'Cancel', validations_path

  - if @validation.persisted?
    %div.info.xlarge.btn
      = link_to 'Show', validation_path
    %div.primary.xlarge.btn.pull_right
      = f.submit 'UPDATE'

  - if @validation.new_record?
    %div.primary.xlarge.btn.pull_right
      = f.submit 'Save'
