%div.row

  %h2.twelve.columns
    %div.info.xlarge.btn
      = link_to 'LIST', site_options_path
    %div.primary.xlarge.btn.pull_right
      = link_to 'EDIT', edit_site_option_path

%div.row

  %div.twelve.columns

    %fieldset
      
      %ul
        %li.field
          = @site_option.name
